.table-container {
  align-items: center;
  /* margin-top: 200px; */
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.paper {
  padding: 10px;
  padding-left: 70px;
}

.center-text {
  text-align: center;
}

.Edit-icon {
  color: rgb(20, 20, 20);
}

.Delete-icon {
  color: rgb(25, 24, 24);
}

.actions-column {
  width: 200px;
}

.table-container .MuiTableCell-head {
  border-bottom: 2px solid black;
  padding-left: 1px;
}
