.custom-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.331),rgb(107, 106, 106)); */
  background-color: rgba(128, 128, 128, 0.208);
  width: 170px;
  border-radius: 15px;
  outline: outset 4px gray;
  /* width: 100px; */
}

.icon-button {
  /* background-color: transparent; */
  cursor: pointer;
  margin: 10px 10px 10px 10px;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  transform: scale(1.2);
}

.custom-button-container button:hover {
  background-color: transparent;
}
.custom-button-container .icon-button:hover {
  transform: scale(1.4);
}


.icon-button.toggle{
  margin-top: 0;
  margin-bottom: -3px;
}

.togglebutton{
  position: relative;
  font-size: 21px;
  transform: scale(1.2);
  padding-bottom: 5px;
  /* font-size: 30px; */
}

.togglebutton.on{
  color: rgb(1, 223, 20)
}

.togglebutton.off{
  color:red
}