.custom-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-button-container button {
  background-color: transparent; /* Remove the background color for buttons */
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.custom-button-container button:hover {
  background-color: transparent; /* Set the background color on hover (if needed) */
}
.custom-button-container .icon-button:hover {
  transform: scale(1.1); /* Change the background color on hover */
}
