@font-face {
  font-family: "Grotesque";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Grotesque Black";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
  /* font-weight: bold; */
}

article.card {
  position: relative;
  top: 00%;
  left: 10%;
  width: 240px;
  height: 200px;
  /* transform: translate(-50%, -50%) translateZ(0); */
  border-radius: 13px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  /* margin-left: 0px; */
  text-align: center;
  margin-right: 20px;
  /* transition: 2.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03); */
}


.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px; /* Height of the colored strip */
  /* background-image: linear-gradient(to bottom right, red,#264552); */
  background-color: rgb(255, 253, 253);
}

.card.clicked::before {
  background-color: rgb(92, 88, 88) !important;
  outline: 3px solid thick black;
}

.card.clicked {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

article.card .C-infos {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  height: 200px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png")
    no-repeat center;
  background-size: cover;
  border-radius: 13px;
  border: 3px solid rgba(0, 0, 0, 0.614);
}
article.card .C-infos {
  width: auto;
  /* height: 350px; */
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

article.card:hover .C-infos{
  border: 3px solid rgba(228, 96, 96, 0.614);
}
article.card.card.clicked:hover .C-infos{
  border: 3px solid rgba(173, 172, 172, 0.614);
}



article.card .C-infos .C-title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}

article.card .C-text-data {
  padding-top: 10px;
  height: 60px;
  margin-bottom: 10px;
  /* overflow: hidden; */
}

article.card .C-infos {
  height: 280px !important;
  /* padding-bottom: 100px; */
  overflow: hidden;
  padding-top: 10px;
}

article.card:hover .C-text-data {
  transform: translateY(-130px);
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

/* article.card .C-infos:hover {
  transform: scaleY(-350px) !important;
} */

article.card:hover {
  cursor: pointer;
  /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3); */
}

/* article.card:hover .C-infos .seats,
article.card:hover .C-infos .C-txt,
article.card:hover .C-infos .edit_options {
  opacity: 1;
} */

.TB-radio-button {
  width: 35px;
  height: 23px;
  color: green;
  transform: translateY(-3px);
}

article.card .C-infos .C-status,
article.card .C-infos .seats {
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.C-action-buttons {
  transform: translateZ(10px);
  background-color: white;
  width: 290px;
  padding-left: 40px;
  transform: translateX(-40px);
  height: 100px;
}
