@font-face {
  font-family: "Grotesque";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Grotesque Black";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
  /* font-weight: bold; */
}

article.card {
  position: relative;

  top: 00%;
  left: 10%;
  width: 240px;
  height: 220px;
  /* transform: translate(-50%, -50%) translateZ(0); */
  border-radius: 13px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  /* margin-left: 0px; */
  text-align: center;
  margin-right: 20px;
}
article.card .thumb {
  width: auto;
  height: 260px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png")
    no-repeat center;
  background-size: cover;
  border-radius: 3px;
}
article.card .C-infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .C-infos .C-title {
  position: relative;
  /* margin: 10px 0; */
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}

article.card .txt {
  font-family: "Merriweather", sans-serif;
  /* line-height: 2; */
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

article.card:hover .C-infos .seats,
article.card:hover .C-infos .txt,
article.card:hover .C-infos .edit_options {
  opacity: 1;
}
