.card {
  width: 100%; /* Adjust the width as needed */
  /* background-color: #913030;  */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Add padding for spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  transition: transform 0.2s; /* Add a slight hover effect */
}

.card:hover {
  transform: translateY(-5px); /* Lift the card on hover */
}

.custom-box {
  background-color: lightblue; /* Replace with your desired color */
  border-radius: 8px; /* Adjust the radius as needed */
  margin: 13px; /* Add margin for spacing */
  display: inline-block;
}
.custom-backdrop {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Adjust opacity and color as needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1300; /* Ensure the backdrop is above other elements */
}
